<header class="site-header">
	<nav class="site-navi">
			<div class="col-8 title-col">
				<div class="site-title" id="site-title">
					<a href='{{ "/" | relURL }}' style="float: left;">
						<!-- {{ .Site.Params.title }} -->
						{{- if .Site.Params.logo }}
							<img class="col-3-md" src='{{ .Site.Params.logo }}' alt="{{ .Site.Params.title }}"/>
						{{- else }}
							<h1 class="col-3-md">{{ .Site.Params.title }}</h1>
						{{- end }}
					</a>
					<span class="version-span">
						<!-- {{ partial "github-tag.svg" }} -->
					</span>
				</div>
			</div>
			<div class="col-4 site-tag">
				{{- range .Site.Params.taglines }}
				<div class="col-12" >{{ . }}</div>
				{{- end }}
				<div class="col-12">
					{{ partial "latest-commit.html" . }}
				</div>
			</div>
	</nav>
	<nav class="nav navbar-nav">
		{{ partial "breadcrumbs.html"}}
	</nav>
</header>
<hr class="site-header-bottom">
